* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #e5e5e5;
}
header {
    width: 100%;
    height: 70px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.alert {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.alert h4 {
    margin: 0;
}
.alert ul {
    padding: 0 20px;
    margin: 12px 0;
}
.alert-success {
    color: #127000;
    border: 1px solid #127000;
    background-color: #cceec5;
}
.alert-danger {
    color: #a80000;
    border: 1px solid #a80000;
    background-color: #ffd0d0;
}
.shadow {
    box-shadow: 0px 50px 5px 0px #00000020;
}
.center {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.area-header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.logo-header {
    width: 150px;
    height: 50px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.config-header {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    width: 100%;
    min-height: 600px;
    display: flex;
    gap: 15px;
    padding: 0 12px;
    overflow: hidden;
}
.side-menu {
    min-width: 250px;
    width: 250px;
    min-height: 600px;
    height: 100%;
    background-color:#FFF;
    padding: 12px;
    background-color: #FFF;
    border-radius: 6px;
    overflow: hidden;
}
.welcome-user {
    color: #000;
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
.card-header {
    color: #000;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}
.area-main {
    min-height: 600px;
    height: 100%;
    width: 100%;
    background-color:#FFF;
    padding: 12px;
    background-color: #FFF;
    border-radius: 6px;
}
.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-menu nav {
    width: 100%;
}
.side-menu nav a {
    text-decoration: none;
}
.side-menu nav ul {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side-menu nav ul li {
    width: 100%;
    background-color: #e5e5e5;
    color: #000;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}
.side-menu nav ul li:hover {
    background-color: #d5d5d5;
}
.form-logout {
    width: 100%;
}
.form-logout input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: #e0a3a3;
    color: #FFF;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}
.form-logout input:hover {
    background-color: #a80000;
}
.card-body {
    width: 100%;
    margin-top: 15px;
}
.card-body-header {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.card-body-header h3 {
    margin: 0;
}
a.card-single {
    width: 120px;
    height: 80px;
    border-radius: 6px;
    background-color: #e5e5e5;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-card {
    width: 100%;
    display: flex;
    gap: 15px;
}
.input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-form label {
    width: 100%;
    margin-bottom: 5px;
}
.input-field {
    width: 100%;
    max-width: 100%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #adadad;
    padding: 0 8px;
}
.input-field-file {
    height: 40px;
}
.btn-save {
    background-color: #239be0;
    color: #FFF;
    border: 0;
    cursor: pointer;
}
.card-body-content {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-body-content form {
    width: 100%;
    display: flex;
    gap: 20px;
}
.col-form,
.body-content-col {
    width: 50%;
}
.list-options-turma {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option-turma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 4px;
    height: 35px;
    text-decoration: none;
    color: #000;
}
.table-default {
    width: 100%;
    border-collapse: collapse;
}

.table-default thead th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    height: 35px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.table-default thead th:last-child {
    width: 150px;
    text-align: right;
}
.table-default tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.table-default tbody td form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.table-default tbody td:first-child {
    width: 50px;
}
.table-default tbody td:last-child {
    text-align: right;
}
.table-default tbody td a {
    text-decoration: none;
    margin-right: 8px;
    color: blue;
}
.table-half {
    width: 100%;
    border-collapse: collapse;
}

.table-half thead th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    height: 35px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.table-half thead th:last-child {
    width: 150px;
    text-align: right;
}
.table-half tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.table-half tbody td form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.table-half tbody td:last-child {
    text-align: right;
}
.table-half tbody td a {
    text-decoration: none;
    margin-right: 8px;
    color: blue;
}

.lista-atividades {
    width: 100%;
    padding: 0;
    list-style: none;
}
.lista-atividades li {
    height: 35px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
